.ProfilePage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 85vh;
    min-height: 85vh;
    overflow-y: scroll;
}


.ProfilePage::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {

    .ProfilePage {
        max-height: none;
        overflow-y: auto;
    }

    .ProfilePage::-webkit-scrollbar {
        display: none;
    }
}



/* ======== HEADER  ============== */

.ProfilePageHeader {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding: 3rem;
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: 1rem;
}

@media (max-width: 1000px) {
    .ProfilePageHeader {
        padding: .3rem;
        margin-bottom: 2rem;
    }

}



.ProfilePageHeader-Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

@media (max-width: 1000px) {
    .ProfilePageHeader-Left {
        width: 30%;
    }
}

.ProfilePageHeader-Left-Photo>img {
    width: 70%;
    border-radius: 50%;
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
}


.ProfilePageHeader-Right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: .5rem;
    width: 100%;
    flex-shrink: 1;
    user-select: none;
}


.ProfilePageHeader-Right-Name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--Fonte);
    font-size: 1.3rem;
    color: var(--ComplementaryColor);
}

.ProfilePageHeader-Right-Close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.ProfilePageHeader-Right-Close:hover {
    transform: scale(1.1);
}


.ProfilePageHeader-Right-Setor {
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: .1rem 1rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    color: var(--SecondaryColor);
    background-color: var(--SecondaryBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfilePageHeader-Right-Tipo {
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: .1rem 1rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    color: var(--PrimaryColor);
    background-color: var(--PrimaryBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px) {
    .ProfilePageHeader-Right-Tipo {
        font-size: .7rem;
    }

    .ProfilePageHeader-Right-Setor {
        font-size: .7rem;
    }
}

/* ======== HEADER  ============== */
















/* ======== BODY  ============== */

.ProfilePageBody {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    padding-top: 1rem;
    padding-right: .5rem;
}


@media (max-width: 1000px) {
    .ProfilePageBody {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: .3rem;
    }

}

.ProfilePageBody-Sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: .5rem;
    width: 30%;

}

@media (max-width: 1000px) {
    .ProfilePageBody-Sidebar {
        margin-bottom: 2.5rem;
        width: 100%;
    }

}


.ProfilePageBody-Sidebar-Item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .6rem 1.7rem;
    color: var(--PrimaryBackground);
    font-weight: 500;
    text-decoration: none;
    font-family: var(--Fonte);
    font-size: .9rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 1REM;
    background-color: var(--PrimaryBackGroundFaded2);
    border: 1px solid var(--PrimaryBackGroundFaded2);
}

.ProfilePageBody-Sidebar-ActiveItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .6rem 1.7rem;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--Fonte);
    font-size: .9rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 1REM;
    border: 1px solid var(--PrimaryBackground);
    color: var(--PrimaryColor);
    background-color: var(--PrimaryBackground);
}

.ProfilePageBody-Sidebar-Item:hover {
    border: 1px solid var(--ComplementaryColor);
    color: var(--PrimaryColor);
    background-color: var(--ComplementaryColor);
}



.ProfilePageBody-UserInfo {}








/* ============== INFO FORM =================== */

.ProfilePageBody-UserInfo {
    padding: 0rem 1rem 1rem 3rem;
    width: 100%;
}


@media (max-width: 1000px) {
    .ProfilePageBody-UserInfo {
        padding: .3rem;
    }
}



.ProfilePageBody-UserInfoForm form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
}


.ProfilePageBody-UserInfoForm-OneLine {
    width: 100%;
}

.ProfilePageBody-UserInfoForm-Group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: .1rem;
}

.ProfilePageBody-UserInfoForm-Group>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-family: var(--Fonte);
    color: var(--ComplementaryColor);
    font-size: .9rem;
}

.ProfilePageBody-UserInfoForm-Group>span>svg {
    width: 1rem;
}

@media (max-width: 1000px) {
    .ProfilePageBody-UserInfoForm-Group>span {
        font-size: .8rem;
    }

    .ProfilePageBody-UserInfoForm-Group>span>svg {
        width: 1rem;
    }
}

.ProfilePageBody-UserInfoForm-SectionTitle {
    font-family: var(--Fonte);
    color: var(--SecondaryBackground);
}

.ProfilePageBody-UserInfoForm-Group>input {
    border-radius: .5rem;
    outline: none;
    border: 1px solid var(--PrimaryBackGroundFaded50);
    padding: .5rem .8rem;
    color: var(--SecondaryBackground);
    font-family: var(--Fonte);
    font-size: .9rem;
}

.ProfilePageBody-UserInfoForm-PhoneInput-Container {
    border-radius: .5rem !important;
    outline: none !important;
    border: 1px solid var(--PrimaryBackGroundFaded50) !important;
    color: var(--SecondaryBackground) !important;
    font-family: var(--Fonte) !important;
    font-size: .9rem !important;
    box-shadow: none !important;
}

.ProfilePageBody-UserInfoForm-PhoneInput {
    border-radius: .5rem !important;
    outline: none !important;
    border: none !important;
    color: var(--SecondaryBackground) !important;
    font-family: var(--Fonte) !important;
    font-size: .9rem !important;
    width: 100% !important;
    box-shadow: none !important;
}

.ProfilePageBody-UserInfoForm-PhoneInput-Button {
    background-color: transparent !important;
    border: none !important;

}

.ProfilePageBody-UserInfoForm-LocationSelect {
    flex-grow: 1 !important;
    font-family: var(--Fonte) !important;
    font-size: .9rem !important;
    width: 100% !important;
}

.ProfilePageBody-UserInfoForm-PhoneInput-Dropdown {

    overflow-y: scroll !important;
}

.ProfilePageBody-UserInfoForm-PhoneInput-Dropdown::-webkit-scrollbar {
    display: none !important;

}

@media (max-width: 1000px) {
    .ProfilePageBody-UserInfoForm-Group>input {
        font-size: .8rem;
    }
}


.ProfilePageBody-UserInfoForm-TwoLine {
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .ProfilePageBody-UserInfoForm-TwoLine {
        display: flex;
        flex-direction: column;
    }
}


.ProfilePageBody-UserInfoForm-TwoLine>.ProfilePageBody-UserInfoForm-Group {
    flex-grow: 1;
}


.ProfilePageBody-UserInfoForm-Button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 2.5rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

.ProfilePageBody-UserInfoForm-Button>button {
    padding: .5rem 1rem;
    font-family: var(--Fonte);
    background-color: var(--ComplementaryColor);
    border: 1px solid var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.ProfilePageBody-UserInfoForm-Button>button>svg {
    width: 1.2rem;
}

.ProfilePageBody-UserInfoForm-Button>button:hover {
    transform: scale(1.1);
}

.ProfilePageBody-UserInfoForm-Button>button:active {
    transform: scale(.9);
}











/* ======================================== LISTA DE SETORES MODAL =========================================================================== */

.ProfilePageBody-UserInfoForm-SetorList {

    display: flex;
    flex-direction: column;
}

.ProfilePageBody-UserInfoForm-SetorList-Title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5rem;
    padding: .5rem;
    font-family: var(--Fonte);
    background-color: var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.ProfilePageBody-UserInfoForm-SetorList-Item:last-child {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.ProfilePageBody-UserInfoForm-SetorList-Item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    font-family: var(--Fonte);
    border-bottom: 1px solid var(--ComplementaryColor);
    border-right: 1px solid var(--ComplementaryColor);
    border-left: 1px solid var(--ComplementaryColor);
    color: var(--ComplementaryColor);
    cursor: pointer;
    font-size: .9rem;
}

.ProfilePageBody-UserInfoForm-SetorList-ItemActive {
    background-color: var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-bottom: 1px solid var(--ComplementaryColor);
    border-right: 1px solid var(--ComplementaryColor);
    border-left: 1px solid var(--ComplementaryColor);

}

.ProfilePageBody-UserInfoForm-SetorList-Item:hover {
    background-color: var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-bottom: 1px solid var(--ComplementaryColor);
    border-right: 1px solid var(--ComplementaryColor);
    border-left: 1px solid var(--ComplementaryColor);

}

.ProfilePageBody-UserInfoForm-SetorList-Item>svg {
    width: .9rem;
}



/* ======================================== LISTA DE SETORES MODAL ===================================================================== */























/* ======================================== LISTA DE TIPOS DE USUARIOS MODAL =========================================================================== */

.ProfilePageBody-UserInfoForm-TiposUserList {

    display: flex;
    flex-direction: column;
}

.ProfilePageBody-UserInfoForm-TiposUserList-Title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5rem;
    padding: .5rem;
    font-family: var(--Fonte);
    background-color: var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.ProfilePageBody-UserInfoForm-TiposUserList-Item:last-child {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.ProfilePageBody-UserInfoForm-TiposUserList-Item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    font-family: var(--Fonte);
    border-bottom: 1px solid var(--ComplementaryColor);
    border-right: 1px solid var(--ComplementaryColor);
    border-left: 1px solid var(--ComplementaryColor);
    color: var(--ComplementaryColor);
    cursor: pointer;
    font-size: .9rem;
}

.ProfilePageBody-UserInfoForm-TiposUserList-ItemActive {
    background-color: var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-bottom: 1px solid var(--ComplementaryColor);
    border-right: 1px solid var(--ComplementaryColor);
    border-left: 1px solid var(--ComplementaryColor);
}


.ProfilePageBody-UserInfoForm-TiposUserList-Item:hover {
    background-color: var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-bottom: 1px solid var(--ComplementaryColor);
    border-right: 1px solid var(--ComplementaryColor);
    border-left: 1px solid var(--ComplementaryColor);
}



.ProfilePageBody-UserInfoForm-TiposUserList-Item>svg {
    width: 1rem;
}



/* ======================================== LISTA DE TIPOS DE USUARIOS MODAL ===================================================================== */