.SetorsNumberContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
}

.SetorsNumberItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--SecondaryBackground);
    font-size: .8rem;
    color: white;
    border-radius: .5rem;
    padding: .5rem;
    font-family: var(--Fonte);
    flex-basis: 10%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    user-select: none;
}


.SetorsNumberQtd{
    font-size: 1.5em;
    font-weight: 600;
}