.ModalForm {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}


.ModalForm>input {
    border-radius: .3rem;
    border: 1px solid gray;

}

.ModalForm>div {
    flex-grow: 1;

}