.UsersContainer {
    width: 100%;
    height: 100%;
    padding: 2rem;
    max-height: 100%;
    overflow-y: scroll;
} 

.active {
    background-color: transparent !important;
    cursor: auto !important;
}
 
.UsersContainer::-webkit-scrollbar {
    display: none;
}