.AtivosLocaisShowOnlyCustomGroupList {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.AtivosLocaisShowOnlyCustomGroupList span {
    cursor: pointer;
}




.AtivosLocaisShowOnlyCustomGroupListItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-family: var(--Fonte);
    font-size: .7rem;
    white-space: nowrap;
}



.AtivosLocaisShowOnlyCustomGroupListItem>svg {
    font-family: var(--Fonte);
    font-size: .9rem;
    margin-right: .3rem;
    color: var(--PrimaryBackground);
}


.AtivosLocaisShowOnlyCustomGroupListItem svg {
    float: right;
    margin-left: .6rem;
}

.AtivosLocaisShowOnlyCustomGroupIcon {
    font-family: var(--Fonte);
    font-size: .9rem;
    margin-right: .3rem;
    color: var(--PrimaryBackground);
}

.AtivosLocaisShowOnlyCustomGroupListCheckbox {
    color: var(--PrimaryColor);
    cursor: pointer;
}


.AtivosLocaisShowOnlyCustomGroupListItem input {
    padding: 4px 12px;
    border: none;
    outline: none;
    font-family: var(--Fonte);
    color: var(--Dark);
    font-size: 14px;
    background-color: var(--FundoTransparente);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.AtivosLocaisShowOnlyCustomGroupListItem span {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AtivosLocaisShowOnlyCustomGroupListItem button {
    border: none;
    background-color: var(--FundoTransparente);
    padding: 5px;
}

.AtivosLocaisShowOnlyCustomGroupListItem form button svg {
    color: var(--Dark) !important;
}


.AtivosLocaisShowOnlyCustomGroupListInput {
    padding: 0 !important;
    margin: 0 !important;
    font-family: var(--Fonte) !important;
    font-size: 13px !important;
    margin-right: 1rem !important;
}

.CategoriaEditIcon {
    color: var(--Dark) !important;
}

.AtivosLocaisShowOnlyCustomGroupListTitle {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: var(--Fonte) !important;
    background-color: var(--PrimaryBackground) !important;
    color: var(--PrimaryColor) !important;
    user-select: none !important;
    font-size: .9rem !important;
    border-top-right-radius: .7rem !important;
    border-top-left-radius: .7rem !important;
}

.UserTypesShowOnlyCustomGroupListTitleSpan {
    display: grid;
    grid-template-columns: 7% 85%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.NoBreak {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.MarginBottom {
    margin-bottom: 2.5rem;
}