.CustomGroupList {
    min-width: 300px !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.CustomGroupList span {
    cursor: pointer;
}


.CustomGroupList .list-group {
    min-width: 300px !important;
}

.CustomGroupListItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.CustomGroupListItem span {
    flex-grow: 1;
    font-family: var(--Fonte);
    font-size: 12px;
}


.CustomGroupListItem svg {
    float: right;
    margin-left: .6rem;
}






.CustomGroupListItem input {
    padding: 4px 12px;
    border: none;
    outline: none;
    font-family: var(--Fonte);
    color: var(--Dark);
    font-size: 14px;
    background-color: var(--FundoTransparente);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.CustomGroupListItem span {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.CustomGroupListItem button {
    border: none;
    background-color: var(--FundoTransparente);
    padding: 5px;
}

.CustomGroupListItem form button svg {
    color: var(--Dark) !important;
}


.CustomGroupListInput {
    padding: 0 !important;
    margin: 0 !important;
    font-family: var(--Fonte) !important;
    font-size: 13px !important;
    margin-right: 1rem !important;
}

.CategoriaEditIcon {
    color: var(--Dark) !important;
}

.CustomGroupListTitle {
    font-family: var(--Fonte);
    background-color: var(--PrimaryBackGroundFaded) !important;
    color: var(--PrimaryColor) !important;
}