.DashboardContainer {
    width: 100%;
    height: 100%;
}

.DashboardContainer::-webkit-scrollbar {
    display: none;
}


.TesteDoFInal{
    padding: 1rem;
    background-color: aqua;
    width: 100px !important;
    max-width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}